body{
    background-color: rgb(0, 0, 225);
}

.header {
    margin-top: 100px;
    color: white;
    font-style: italic;
    font-size: 50px;
    margin-left: 400px;

}

.i1{
text-align: center;

}

.i3{
    background-color: #cdb51d;
}

.div1{
    margin-left: 38%;
    color: #cdb51d;
}

.div2{
padding-top: 30px;
margin-left: 45%;
}
