body{

    background-repeat: no-repeat;
   background-size: cover;
    background-image: url("https://img.freepik.com/free-photo/flat-lay-office-desk-assortment-with-copy-space_23-2148707962.jpg");
}